@use "../foundation" as f;

.c-button-arrow {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  &__text {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-right: -0.1em;
    letter-spacing: 0.1em;
  }
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.65em;
    // width: 3.2em;
    // height: 3.2em;
    transition: transform 0.3s;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 1;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 50%;
    //   background-color: rgba(var(--color-theme02-rgb), 0.5);
    //   transition: transform 0.3s;
    // }
    > svg {
      position: relative;
      z-index: 2;
      width: 1em;
      height: 1em;
    }
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-button-arrow__icon {
        transform: translateX(0.4em);
        // &::before {
        //   transform-origin: center center;
        //   transform: scale(1.2);
        // }
      }
    }
  }
}

.c-button-pagetop {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  &__icon {
    width: 50%;
    > svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
}