@use "sass:math";
@use '../../../../node_modules/sass-mq/mq';
@use "../foundation" as f;

$font-size-article-heading-sm: 1.2rem;
$font-size-article-time-sm: 1rem;

$font-size-article-heading-lg: 1.4rem;
$font-size-article-time-md: 1rem;
$font-weight-article-time: 400;

.c-card-blog {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  width: 100%;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-card-blog__imgWrap {
        &__img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__date {
    position: absolute;
    left: 0;
    bottom: 99%;
    z-index: 3;
    display: block;
    line-height: 1;
    font-family: var(--font-family-base-number);
    font-size: 1.8rem;
    @include mq.mq(lg) {
      font-size: 3rem;
    }
  }
  &__imgWrap {
    position: relative;
    margin-inline: auto;
    flex-basis: 45%;
    width: 100%;
    overflow: hidden;
    &__img {
      position: relative;
      z-index: 2;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      width: 100%;
      transition: transform .4s;
      transform-origin: center center;
    }
  }
  &__content {
    position: relative;
    flex: 1 0 0;
    padding-top: 1rem;
  }
  &__heading {
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: $font-size-article-heading-sm;
    @include mq.mq(lg) {
      font-size: $font-size-article-heading-lg;
    }
  }
  &__body {
    display: none;
    color: rgba(var(--color-base-rgb), 0.5);
    @include mq.mq(md) {
      display: block;
      .c-card-blog__heading + & {
        margin-top: 1.6rem;
      }
    }
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem 0.5rem;
    &__item {
      > span {
        position: relative;
        font-weight: 600;
        &::before {
          content: '#';
        }
      }
    }
  }
  &--reverse {
    flex-direction: row-reverse;
    .c-card-blog {
      &__date {
        left: auto;
        right: 0;
      }
    }
  }
  // &__category {
  //   position: relative;
  //   float: right;
  //   padding-left: 1.4em;
  //   padding-right: 0.5rem;
  //   text-align: right;
  //   font-size: 1.4rem;
  //   font-weight: 600;
  //   &::before {
  //     content: "";      
  //     position: absolute;
  //     top: 50%;
  //     left: 0;
  //     transform: translateY(-50%);
  //     display: block;
  //     width: 0.8em;
  //     height: 2px;
  //     background-color: var(--color-base);
  //   }
  //   @include mq.mq(md) {
  //     font-size: 1rem;
  //   }
  // }
}


.c-card-photo {
  position: relative;
  display: block;
  width: 100%;
  &__year {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform-origin: bottom;
    transform: translate(20%, -75%);
    line-height: 1;
    font-family: var(--font-family-base-number);
    font-size: 3.8rem;
    font-weight: 400;
    @include mq.mq(md) {
      font-size: 3rem;
    }
  }
  &__imgWrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: transform 0.4s ease;
    &__img {
      position: relative;
      z-index: 1;
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      transition: transform 0.4s;
    }
  }
  &__heading {
    display: inline;
    letter-spacing: 0.1em;
    font-size: $font-size-article-heading-sm;
    font-weight: 600;
    @include mq.mq(md) {
      font-size: $font-size-article-heading-lg;
    }
    &__small {
      margin-left: 1em;
      font-size: 0.55em;
      font-weight: 600;
    }
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-card-photo__imgWrap {
        transform: scale(0.95);
        &__img {
          transform: scale(1.1);
        }
      }
    }
  }
  &--1 {
    @include mq.mq(md) {
      .c-card-photo__year {
        font-size: 4.5rem;
      }
      .c-card-photo__heading {
        font-size: 2.1rem;
      }
    }
  }
}

.c-card-movie {
  position: relative;
  display: block;
  width: 100%;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-card-movie__imgWrap {
        &__img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__imgWrap {
    position: relative;
    z-index: 2;
    margin-bottom: 1.2rem;
    width: 100%;
    overflow: hidden;
    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 15%;
      max-width: 5rem;
      aspect-ratio: 1/1;
      line-height: 1;
      font-size: 0;
      > svg {
        width: 100%;
        height: 100%;
        fill: var(--color-white);
      }
    }
    &__img {
      position: relative;
      z-index: 1;
      aspect-ratio: 16 / 9;
      width: 100%;
      object-fit: cover;
      transition: transform 0.4s;
    }
  }
  &__heading {
    margin-bottom: 1.2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: $font-size-article-heading-sm;
    @include mq.mq(lg) {
      font-size: $font-size-article-heading-lg;
    }
  }
  &__info {
    &__item {
      display: flex;
      align-items: baseline;
      &:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
    &__head {
      flex-basis: 7em;
      margin-right: -0.05rem;
      letter-spacing: 0.05em;
      font-family: var(--font-family-base-en);
      font-weight: 600;
      font-size: 0.9rem;
      color: rgba(var(--color-base-rgb), 0.5)
    }
    &__body {
      flex: 1 0 0;
      font-size: 0.9rem;
    }
  }
}