@use "sass:math";
@use "../foundation" as f;

$font-size-article-heading: 1.1rem;
$font-size-article-time: 0.8rem;


.c-blog-card {
  position: relative;
  display: block;
  width: 100%;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-blog-card__img {
        transform: scale(0.95);
        &__body {
          transform: scale(1.2);
        }
      }
    }
  }
  &__header {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 1em;
    font-size: $font-size-article-heading;
  }
  &__date {
    display: block;
    margin-bottom: 1em;
    font-size: $font-size-article-time;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1;
    color: rgba(var(--color-base-rgb), 0.5);
  }
  &__heading {
    min-height: 3em; // 1.5em x 2
    font-size: $font-size-article-heading;
    font-weight: 600;
  }
  &__content {
    overflow: hidden;
  }
  &__img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
    transition: transform .4s ease;
    aspect-ratio: 4 / 3;
    &--vertical {
      width: 80%;
      aspect-ratio: 3 / 4;
      + .c-blog-card__category {
        right: 10%;
      }
    }
    &__body {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: transform .4s ease;
      transform-origin: center center;
    }
  }
  &__category {
    position: relative;
    float: right;
    padding-left: 1.5em;
    padding-right: 0.25rem;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 600;
    &::before {
      content: "";      
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1em;
      height: 2px;
      background-color: var(--color-base);
    }
  }
}

.c-photo-card {
  position: relative;
  display: block;
  width: 100%;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -12px;
    margin-left: -15px;
    width: 100%;
    height: 100%;
    background-color: rgba(var(color-theme05), 1);
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-photo-card__img {
        transform: scale(0.95);
        &__body {
          transform: scale(1.1);
        }
      }
    }
  }
  &__img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: transform .4s ease;
    aspect-ratio: 10 / 16;
    &__body {
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: transform .4s ease;
      transform-origin: center center;
    }
    // &__icon-focus {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 30px;
    //   height: 30px;
      // border: 1px solid rgba(var(--color-black-rgb), .2);
      // border-radius: 50%;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 27px;
      //   height: 27px;
      //   border: 1px solid rgba(var(--color-black-rgb), .1);
      //   background-color: rgba(var(--color-white-rgb), 0.2);
      //   border-radius: 50%;
      // }
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 17px;
      //   height: 17px;
      //   border: 1px solid rgba(var(--color-black-rgb), .05);
      //   border-radius: 50%;
      // }
    // }
  }
  &__content {
    position: relative;
    z-index: 2;
    margin-top: 20px;
  }
  &__country {
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
    z-index: 2;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family-base-en);
    font-size: calc(1rem + 1.6vw);
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1;
    writing-mode: vertical-rl;
  }
  &__heading {
    margin-bottom: 0.4em;
    font-size: 2rem;
    font-weight: 600;
  }
  &__date {
    // font-family: var(--font-family-base-en);
    font-size: $font-size-article-time;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1;
    color: rgba(var(--color-base-rgb), 0.5);
  }
  &--invert {
    color: var(--color-white);
    .c-photo-card__date {
      color: rgba(var(--color-white-rgb), 0.5);
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-white);
        .c-photo-card__date {
          color: rgba(var(--color-white-rgb), 0.5);
        }
      }
    }
  }
}

.c-movie-card {
  position: relative;
  display: block;
  width: 100%;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      .c-movie-card__img {
        transform: scale(0.95);
        &__body {
          transform: scale(1.1);
        }
      }
    }
  }
  &__img {
    position: relative;
    z-index: 2;
    margin-bottom: 1.4rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    transition: transform 0.4s ease;
    &__body {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: transform 0.4s ease;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        border-radius: 50%;
        border: 5px solid rgba(var(--color-white-rgb), .7);
        width: 70px;
        height: 70px;        
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        display: block;
        border-style: solid;
        border-color: transparent transparent transparent rgba(var(--color-white-rgb), .7);
        border-width: 10px 0 10px 15px;        
      }
    }
  }
  &__content {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  &__heading {
    margin-bottom: 1em;
    font-size: $font-size-article-heading;
    font-weight: 600;
  }
  &__info {
    display: flex;
    align-items: center;
    line-height: 1;
    &__date {
      display: block;
      margin-right: -0.1em;
      font-size: 0.75rem;
      letter-spacing: 0.1em;
    }
    &__place {
      position: relative;
      padding-left: 1em;
      margin-left: 0.8em;
      font-size: 0.75rem;
      &::before {
        content: "/";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  &.reverse {
    .c-movie-card__img {
      left: math.percentage(math.div(4, 24));
    }
    .c-movie-card__content {
      left: 0;
    }
  }
}