@use "../foundation" as f;

.c-icon-arrowLeft {
  fill: currentColor;
}

.c-icon-arrowRight {
  fill: currentColor;
}

.c-icon-arrowUp {
  fill: currentColor;
}

.c-icon-play {
  fill: currentColor;
}