@use "sass:math";
@use '../../../../node_modules/sass-mq/mq';
@use "../foundation" as f;
@use 'icon';
@use 'button';
@use 'link';
@use 'card';
@use 'animation';

.c-copyright {
  line-height: 1;
  font-family: var(--font-family-base-en);
  font-size: 1.2rem;
  color: rgba(var(--color-white-rgb), .5);
}

.c-icon-plus {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: rotate(90deg);
  }
}

@keyframes scrollDown {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
.c-scrolldown {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-black-rgb), .1);
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-black-rgb), 1);
    animation: scrollDown 1.7s cubic-bezier(1, 0, 0, 1) infinite;
  }
}

.c-list-blog {
  &__item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}

.c-list-linkPhoto {
  &__item {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
}

.c-list-movie {
  @include mq.mq(md) {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4%;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    @include mq.mq(md) {
      position: relative;
      flex-basis: 48%;
      &:nth-of-type(2n) {
        margin-top: 4rem;
      }
    }
  }
}