//
// Variables
//

// Typography
//

$font-size-sm: clamp(0.625rem, calc(0.625rem + ((1vw - 0.2rem) * 1.4337)), 0.875rem) !default;  // 10px to 14px between vw = 320px and 600px
$font-size-md: clamp(0.875rem, calc(0.875rem + ((1vw - 0.375rem) * 0.9434)), 1.125rem) !default; // 14px to 18px between vw = 600px and 1024px
$font-size-lg: clamp(0.875rem, calc(0.875rem + ((1vw - 0.640625rem) * 0.4103)), 1.125rem) !default; // 14x to 20px between vw = 1025px and 2000px
$line-height-base: 1.5 !default;


// Size
//

$content-width-sm: 86vw;
$content-width-lg: 80vw;
$max-content-width: 1600px;