@use "../foundation" as f;
@use '../../../../node_modules/sass-mq/mq';

%bg-line {
  width: 1px;
  height: 100%;
  background-color: var(--color-bg-line);
  transition: background-color 0.8s;
}

.l-bg-lines {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: f.$z-index-bgLines;
  transform: translateX(-50%);
  width: f.$content-width-sm;
  height: 100%;
  @include mq.mq(lg) {
    width: f.$content-width-lg;
    max-width: f.$max-content-width;
  }
  &__line01 {
    @extend %bg-line;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__line02 {
    @extend %bg-line;
    position: absolute;
    top: 0;
    left: 25%;
    display: none;
    @include mq.mq(lg) {
      display: block;
    }
  }
  &__line03 {
    @extend %bg-line;
    position: absolute;
    top: 0;
    left: 50%;
  }
  &__line04 {
    @extend %bg-line;
    position: absolute;
    top: 0;
    left: 75%;
    display: none;
    @include mq.mq(lg) {
      display: block;
    }
  }
  &__line05 {
    @extend %bg-line;
    position: absolute;
    top: 0;
    right: 0;
  }
}
