@use "../foundation" as f;
@use '../../../../node_modules/sass-mq/mq';

.l-footer {
  position: relative;
  width: 100%;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-theme01);
  }
  &__inner {
    position: relative;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    @include mq.mq(tab) {
      width: 80vw;
      max-width: f.$max-content-width;
    }
  }
}
