@use "../foundation" as f;
@use '../../../../node_modules/sass-mq/mq';

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: f.$z-index-header;
  width: 100%;
  color: var(--color-white);
  mix-blend-mode: difference;
  &__inner {
    padding: 1.5rem 5vw;
    @include mq.mq(md) {
      display: flex;
      align-items: center;
      padding: 3rem 3vw;
      transition: 0.4s padding;
    }
  }
  &.is-scroll {
    .l-header__inner {
      @include mq.mq(md) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
  }
  &__heading {
    margin-right: auto;
    line-height: 1;
    font-family: f.$font-family-brandon-grotesque;
    font-size: 2.8rem;
    font-weight: 600;
    > sup {
      vertical-align: super;
      font-size: 0.5em;
    }
    @include mq.mq(md) {
      font-size: 1.8rem;
    }
  }
  &__navList {
    display: flex;
    column-gap: 2rem;
    &__link {
      position: relative;
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: var(--color-white);
      transition: color .3s;
      > span {
        display: block;
        margin-right: -0.1em;
        letter-spacing: 0.1em;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -5%;
        bottom: 0;
        z-index: -1;
        width: 110%;
        height: 100%;
        background-color: var(--color-white);
        transform: scale(0, 1);
        transform-origin: right top;        
        transition: transform .3s;
      }
      &.nuxt-link-exact-active {
        color: var(--color-black);
        &::before {
          transform: scale(1, 1);
        }
      }
      @media (hover: hover) {
        &:hover {
          color: var(--color-black);
          text-decoration: none;
          &::before {
            transform: scale(1, 1);
            transform-origin: left top;
          }
        }
      }
    }
  }
}
