@use "../foundation" as f;
@use '../../../../node_modules/sass-mq/mq';
@use 'bgLines';
@use 'header';
@use 'footer';

.l-inner {
  margin-inline: auto;
  width: f.$content-width-sm;
  @include mq.mq(lg) {
    width: f.$content-width-lg;
    max-width: f.$max-content-width;
  }
}

.l-wrap {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.l-main {
  padding-bottom: 16rem;
  @include mq.mq(lg) {
    padding-bottom: 20rem;
  }
}
