@use "sass:math";
@use "../foundation" as f;

@keyframes heroMove {
  0% {transform: translateX(0);}
  100% {transform: translateX(-7%)};
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 1400px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: calc(100% + 12rem);
    background-color: var(--color-body);
  }
  &__wrap {
    position: relative;
    margin-left: auto;
    width: 80%;
    height: 100%;
  }
  &__catch {
    position: absolute;
    left: -9vw;
    bottom: f.get-vw(80, 1025);
    z-index: 2;
    &__jp {
      margin-top: 2.6rem;
    }
  }
  &__carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__scrolldown {
    position: absolute;
    bottom: 0;
    right: calc(10% - 2px);
    z-index: 3;
  }
  &__progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 0.4rem;
    background-color: rgba(var(--color-black-rgb), .5);
    &__body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-brand);
      transform: scaleX(0);
      transform-origin: left center;
      transition-timing-function: linear;
    }
  }
  .swiper-container {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.hero-catch-line {
  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}
.hero-catch-text {
  display: inline-block;
  line-height: 1;
  &--en {
    margin-right: -0.08em;
    font-family: var(--font-family-base-en);
    font-style: italic;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.08em;
  }
  &--jp {
    margin-right: -0.4em;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.4em;
  }
}

.hero-carousel {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transform-origin: right center;
    transition: transform .8s cubic-bezier(.86,0,.07,1);
    z-index: 11;
  }
  &.show {
    &::before {
      transform: scale(0, 1);
    }
  }
  &__item {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 110%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &.is-active {
      animation: heroMove 6s linear forwards;
    }
  }
  .swiper-pagination {
    bottom: 35px;
    left: 43px;
    font-size: 0;
    line-height: 0;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    &:not(:first-child) {
      margin: 0 0 0 15px;
    }
  }
}
