@use "../foundation" as f;
@use '../../../../node_modules/sass-mq/mq';
@use "top";
@use "topHeroUnit";
@use "topMovieCarouselUnit";

.current-page {
  position: fixed;
  top: 50%;
  left: 2vw;
  z-index: 2;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
  margin-right: -0.1em;
  letter-spacing: 0.1em;
  line-height: 1;
  font-family: var(--font-family-base-en);
  font-size: 1rem;
  color: var(--color-white);
  mix-blend-mode: difference;
  @include mq.mq(lg) {
    left: 3vw;
  }
}
