@use "../foundation" as f;

.pageFooter {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 6rem;
  color: var(--color-white);
  &__main {
    display: flex;
    align-items: center;
    &__sitemap {
      margin-left: 5rem;
    }
  }
  &__pagetop {
    position: absolute;
    top: 8rem;
    right: 0;
    width: 2.6rem;
    height: 2.6rem;
  }
  &__copyright {
    margin-top: 6rem;
  }
}
.pageFooter-logo {
  line-height: 1;
  font-family: f.$font-family-brandon-grotesque;
  font-size: 2.4rem;
  font-weight: 600;
}
.pageFooter-navList {
  display: flex;
  column-gap: 2.4rem;
  &__link {
    position: relative;
    margin-right: -0.1em;
    letter-spacing: 0.1em;
    font-family: var(--font-family-base-en);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
    &::before {
      content: '';
      position: absolute;
      bottom: -10%;
      left: -5%;
      width: 110%;
      height: 1px;
      background-color: currentColor;
      transition: transform .2s;
      transform: scale(0, 1);
      transform-origin: right top;        
    }
    @media (hover: hover) {
      &:hover {
        color: currentColor;
        text-decoration: none;
        &::before {
          transform: scale(1, 1);
          transform-origin: left top;
        }
      }
    }
  }
}
