@use '../../../../node_modules/sass-mq/mq';
@use "../foundation" as f;

//
// Top Hero Unit
//

@keyframes heroMove {
  0% {transform: translateX(0);}
  100% {transform: translateX(-7%)};
}

.top-heroUnit {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100%;
    background-color: var(--color-body-light);
    @include mq.mq(md) {
      width: 20vw;
    }
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    width: 90vw;
    @include mq.mq(md) {
      width: 80vw;
    }
  }
  &__catch {
    position: relative;
    left: -5vw;
    z-index: 2;
    margin-top: -8em;
    @include mq.mq(md) {
      left: -9vw;
    }
    @include mq.mq(lg) {
      position: absolute;
      bottom: f.get-vw(70, 1025);
    }
    &__jp {
      margin-top: 3rem;
    }
  }
  &__catchLine {
    &:not(:last-child) {
      margin-bottom: 0.125rem;
    }
  }
  &__catchText {
    display: inline-block;
    line-height: 1;
    &--en {
      margin-right: -0.05em;
      letter-spacing: 0.05em;
      font-family: var(--font-family-base-en);
      font-weight: 700;
      font-size: 4.4rem;
      @include mq.mq(lg) {
        font-size: clamp(5rem, 2.913rem + 3.26vw, 8.125rem);
      }
    }
    &--jp {
      margin-right: -0.4em;
      letter-spacing: 0.4em;
      font-weight: 600;
      font-size: 1.8rem;
      @include mq.mq(lg) {
        font-size: clamp(1.75rem, 1.249rem + 0.78vw, 2.5rem);
      }
    }
  }
  &__carousel {
    position: relative;
    width: 100%;
    height: 100%;
    // pictureの場合
    // Chromeで初期表示がもたつく
    &__pic {
      display: block;
      width: 110%;
      &.is-active {
        animation: heroMove 6s linear forwards;
      }
      > img {
        width: 100%;
        aspect-ratio: 11 / 14;
        object-fit: cover;
        @include mq.mq(lg) {
          height: 100dvh;
          height: 100vh;
          min-height: 700px;
          aspect-ratio: auto;
        }
      }
    }
    // background-imageの場合
    &__img {
      width: 110%;
      aspect-ratio: 11 / 14;
      background-size: cover;
      &.is-active {
        animation: heroMove 6s linear forwards;
      }
      @include mq.mq(lg) {
        height: 100dvh;
        height: 100vh;
        aspect-ratio: auto;
      }
    }
  }
  &__progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 5px;
    background-color: rgba(var(--color-black-rgb), .5);
    &__body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: left center;
      transition-timing-function: linear;
      background-color: var(--color-brand);
    }
    @include mq.mq(lg) {
      display: block;
    }
  }
  &__carouselMask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: f.$z-index-heroMask;
    transform-origin: right center;
    transition: transform .8s cubic-bezier(.86,0,.07,1);
    display: block;
    width: 100%;
    aspect-ratio: 11 / 15.4;
    background-color: var(--color-black);
    @include mq.mq(lg) {
      width: 100%;
      height: 100vh;
      aspect-ratio: auto;
    }
    &.show {
      transform: scale(0, 1);
    }
  }
  &__scrolldown {
    position: absolute;
    bottom: 0;
    right: 7vw;
    z-index: 3;
    width: 2px;
    height: 5rem;
    @include mq.mq(lg) {
      // right: max(calc((100vw - f.$content-width-lg) / 2), calc(50vw - f.$max-content-width / 2));
      right: auto;
      left: 3vw;
      bottom: 2.4rem;
      height: 6rem;
    }
  }
  .swiper-container {
    margin-left: 0;
    margin-right: 0;
    .swiper-pagination-bullets {
      position: absolute;
      top: 50%;
      right: 3vw;
      bottom: auto;
      left: auto;
      width: auto;
      transform: translateY(-50%);
      @include mq.mq(lg) {
        right: 2vw;
      }
      .swiper-pagination-bullet {
        display: block;
        margin: 0;
        width: 0.6rem;
        height: 0.6rem;
        background-color: var(--color-black);
        opacity: 0.25;
        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
        &-active {
          background-color: var(--color-black);
          opacity: 1;
        }
      }
    }
  }
}
