@use "sass:math";
@use '../../../../node_modules/sass-mq/mq';
@use "../foundation" as f;

$gap-between-section-sm: 8rem;
$gap-intro-section-first-sm: 8rem;
$font-size-heading-jp-sm: 2.2rem;
$font-size-heading-en-sm: 3rem;

$gap-between-section-lg: 10rem;
$gap-intro-section-first-lg: 18rem;
$font-size-heading-jp-lg: 2.6rem;
$font-size-heading-en-lg: 3.8rem;

%section {
  padding-top: $gap-between-section-sm;
  padding-bottom: $gap-between-section-sm;
  @include mq.mq(lg) {
    padding-top: $gap-between-section-lg;
    padding-bottom: $gap-between-section-lg;
  }
}
%section-header {
  position: relative;
  margin-bottom: 8rem;
  @include mq.mq(lg) {
    margin-bottom: 10rem;
  }
}
%section-heading {
  position: relative;
  line-height: 1.2;
  font-weight: 600;
  font-size: $font-size-heading-jp-sm;
  @include mq.mq(lg) {
    font-size: $font-size-heading-jp-lg;
  }
  > span {
    display: inline-block;
    margin-right: -0.35em;
    letter-spacing: 0.35em;
  }
}
%section-heading-en {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: fit-content;
  line-height: 1;
  font-family: var(--font-family-hand-en);
  font-size: $font-size-heading-en-sm;
  color: rgba(var(--color-theme02-rgb), 1);
  white-space: nowrap;
  @include mq.mq(lg) {
    font-size: $font-size-heading-en-lg;
  }
  > span {
    display: block;
    &:nth-child(n + 2) {
      margin-left: 2em;
    }
  }
}

.top-more-button {
  font-size: 1.2rem;
}


//
// Introduction
//

.top-intro-section {
  position: relative;
  padding-top: $gap-intro-section-first-sm;
  padding-bottom: $gap-between-section-sm;
  @include mq.mq(lg) {
    padding-top: $gap-intro-section-first-lg;
    padding-bottom: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: $gap-intro-section-first-lg;
    background-color: var(--color-body);
    @include mq.mq(md) {
      width: 20vw;
    }
  }
}
.top-intro-content {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  @include mq.mq(lg) {
    display: block;
  }
  &__text {
    @include mq.mq(lg) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding-top: 25%;
      padding-left: calc(50% + 1rem);
      padding-right: 0;
    }
  }
  &__bgs {
    position: relative;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-bottom: 5rem;
    @include mq.mq(lg) {
      margin-bottom: 0;
    }
  }
}
.top-intro-textbox {
  width: 100%;
  &__heading {
    margin-inline: auto;
    margin-bottom: 2em;
    width: fit-content;
    font-weight: 600;
    font-size: $font-size-heading-jp-sm;
    > span {
      display: block;
      margin-right: -0.35em;
      letter-spacing: 0.35em;
    }
    @include mq.mq(lg) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2.4em;
      font-size: $font-size-heading-jp-lg;
    }
  }
  &__body {
    width: 100%;
    line-height: 2.5;
    font-size: 1.6rem;
    font-weight: 600;
    @include mq.mq(lg) {
      font-size: 1.2rem;
    }
  }
}
.top-intro-catch {
  position: absolute;
  top: 0;
  right: 5vw;
  z-index: 3;
  transform-origin: center center;
  transform: rotate(-13deg);
  margin-top: 15%;
  line-height: 1;
  font-family: var(--font-family-hand-en);
  font-size: 7rem;
  color: rgba(var(--color-theme02-rgb), 1);
  > span {
    display: block;
  }
  @include mq.mq(lg) {
    right: 0;
    transform: rotate(13deg);
    font-size: 6rem;
    > span {
      display: inline;
      &:nth-child(n + 2) {
        margin-left: 0.4em;
      }
    }
  }
}
.top-intro-bgUnion {
  position: relative;
  width: 57vw;
  @include mq.mq(lg) {
    width: 43vw;
  }
}
.top-intro-bg {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  &--01 {
    position: relative;
    z-index: 1;
    width: 100%;
    aspect-ratio: 3 / 4;
  }
  &--02 {
    position: relative;
    left: 30%;
    z-index: 2;
    margin-top: -10%;
    width: 66%;
    aspect-ratio: 3 / 2;
    @include mq.mq(lg) {
      left: 45%;
    }
  }
  &--03 {
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 1;
    width: 50%;
    aspect-ratio: 3 / 2;
    @include mq.mq(lg) {
      right: 0;
      width: 40%;
    }
  }
}


//
// Blog
//

.top-blog-section {
  @extend %section;
}
.top-blog-section-header {
  @extend %section-header;
  margin-inline: auto;
  width: fit-content;
  @include mq.mq(lg) {
    right: calc(25% + 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
  }
}
.top-blog-heading {
  @extend %section-heading;
  &__verb {
    font-size: 0.55em;
  }
}
.top-blog-heading-en {
  @extend %section-heading-en;
  right: 0;
  transform: translate(50%, -100%) rotate(10deg);
  @include mq.mq(lg) {
    left: 100%;
    transform-origin: right bottom;
    transform: translate(-25%, -50%) rotate(10deg);
  }
}
.top-blog-list {
  &__item {
    @include mq.mq(lg) {
      width: 75%;
      &:nth-of-type(2) {
        margin-left: 15%;
      }
      &:nth-of-type(3) {
        margin-left: 10%;
      }
    }
  }
}
.top-blog-card {
  .c-card-blog {
    &__content {
      @include mq.mq(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
      }
    }
  }
  &.c-card-blog--reverse {
    flex-direction: row;
    .c-card-blog {
      &__date {
        left: 0;
        right: auto;
      }
    }
    @include mq.mq(lg) {
      flex-direction: row-reverse;
      .c-card-blog {
        &__date {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
.top-blog-more {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  @include mq.mq(lg) {
    position: relative;
    right: 25%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
  }
}


//
// Photo
//

.top-photo-section {
  @extend %section;
}
.top-photo-section-header {
  @extend %section-header;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  @include mq.mq(lg) {
    right: calc(75% + 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
  }
}
.top-photo-heading {
  @extend %section-heading;
}
.top-photo-heading-en {
  @extend %section-heading-en;
  right: 0;
  transform: translate(50%, -100%) rotate(10deg);
  @include mq.mq(lg) {
    left: 0;
    right: auto;
    transform-origin: left bottom;
    transform: translate(-25%, -100%) rotate(-10deg);
  }
}
.top-photo-content {
  @include mq.mq(lg) {
    padding-left: 25%;
    margin-right: calc(50% - 45vw);
  }
}
.top-photo-more {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  @include mq.mq(lg) {
    justify-content: flex-start;
    margin-top: 10rem;
    margin-left: 25%;
  }
}


//
// Movie
//

.top-movie-section {
  padding-top: $gap-between-section-sm;
  @include mq.mq(lg) {
    padding-top: $gap-between-section-lg;
  }
}
.top-movie-section-header {
  @extend %section-header;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  @include mq.mq(lg) {
    left: calc(50% + 0.75vw);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0;
  }
}
.top-movie-heading {
  @extend %section-heading;
}
.top-movie-heading-en {
  @extend %section-heading-en;
  right: 0;
  transform: translate(50%, -100%) rotate(10deg);
  @include mq.mq(lg) {
    left: 100%;
    transform-origin: right bottom;
    transform: translate(-25%, -50%) rotate(10deg);
  }
}
.top-movie-carouselContainer {
  .swiper-container {
    overflow: visible;
  }
  @include mq.mq(md) {
    margin-left: 25%;
  }
}
.top-movie-more {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  @include mq.mq(lg) {
    justify-content: flex-end;
    margin-top: 10rem;
    margin-right: 50%;
  }
}
